{% extends "base/base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock title %}
{% block body %}
  <section class="mt-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 border-end">
          <div class="content-body">
            <h1 class="title">{{ post.title }}</h1>
            <div class="d-flex justify-content-between">
              <h2 class="small text-muted">{{ post.publish_date|timesince }} ago</h2>
              <span class="text-muted">{{ post.comments.count }} {% if post.comments.count == 1 %}comment{% else %}comments{% endif %}</span>
            </div>
            <p class="card-body"><strong>{{ post.intro }}</strong></p>
            <p>{{ post.body }}</p>
            {% if post.image %}
              <div class="mt-4">
                <img class="img-fluid rounded" src="{{ post.image.url }}" alt="Post Image">
              </div>
            {% endif %}
            <p><small>categories: <a class="link-warning text-success" href={% url "category_details" post.category.slug %}> {{ post.category }}</a></small></p>

            <hr>

            <div class="card">
              <div class="card-body p-4">
                <h5>Add a comment</h5>
                <form method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <input class="form-control" type="text" name="name" maxlength="255" placeholder="John Doe" required>
                  </div>
                  <div class="mb-3">
                    <input class="form-control" type="email" name="email" maxlength="255" placeholder="johndoe@gmail.com" required>
                  </div>
                  <div class="mb-3">
                    <textarea class="form-control" name="comment" cols="40" rows="5" required placeholder="Comment here..."></textarea>
                  </div>
                  <div class="text-end">
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="border-start ps-1">
            <h1 class="page-header mb-4">Comments</h1>
            <div class="comment scrollable-div">
              {% for comment in post.comments.all %}
                <div class="card mb-3 border-round">
                  <div class="row small border-bottom">
                    <div class="col">
                      <strong>{{ comment.name }}</strong>
                    </div>
                    <div class="col text-end">
                      {{ comment.comment_date|timesince }}
                    </div>
                  </div>
                  <p class="text">{{ comment.comment }}</p>
                </div>
              {% empty %}
                <p>No comments for this post.</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock body %}

{% comment %} {% extends "base/base.html" %}
{% load static %}
{% block title %}{{  post.title }}{% endblock title %}
{% block body %}
  <section class="">
    <div class=" mt-5">
      <div class=" me-1">
        
          <div class="row">
            <div class="col-lg d-flex border-end">              
              <div class="content-body ">
                <div class="row ">
                  <div class="col-md-6 mt-3">
                    <div class="row">
                      <div class="col">
                          <h1 class="title ">{{ post.title }}</h1>
                      </div>
                      <div class="col">
                          <h2 class="small text-end text-muted">{{ post.publish_date| timesince }} ago</h2>
                      </div>
                    </div>
                    <p class="card-body"> <strong>{{ post.intro }}</strong></p>
                    <p>{{ post.body }}</p>
                  </div>
                  <div class="col mt-3">
                    {% if post.image %}
                      <img class="img-fluid rounded max-width: 100%;" src="{{post.image.url}}"  alt="img">
                    {% else %}
                      <img class="img-responsive" alt="img">
                    {% endif %}
                  </div>
                </div>
                  <hr>
                  
                  <div class="card">
                    <div class="card-body p-4">
                      <div class="d-flex flex-start w-100">
                        
                        <div class="w-100">
                          <h5>Add a comment</h5>
                          <form method="post">
                            {% csrf_token %}
                            <div class="form">
                              <input  class="form-control mb-2" type="text" name="name" maxlength="255" placeholder="John Doe" required id="id_name">
                              <input class="form-control mb-2" type="email" name="email" maxlength="255" required placeholder="johndoe@gmail.com" id="id_email">
                              <textarea class="form-control mb-2" name="comment" cols="40" rows="5" required placeholder="Comment here..."id="id_comment"></textarea>
        
                            </div>
                            <div class="field-body">
                              <div class="text-end">
                                <button type="submit" class="btn btn-success w-50">Submit</button>
                              </div>
                            </div>
                          </form>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                </div>
              
            </div>
            <div class="col-sm-3 " >
              <h1 class="page-header border-bottom">Comments</h1>
              <div class="text-end">
                {% if post.comments.count == 0 %}
                  <label class="text-muted small">{{ post.comments.count }} comments</label>
                {% elif post.comments.count == 1 %}
                  <label class="text-muted small">{{ post.comments.count }} comment</label>
                {% else %}
                <label class="text-muted small">{{ post.comments.count }} comments</label>
                {% endif %}
                
              </div>
              <div class=" comment scrollable-div" >              
                <artical class="media">
                  {% for comment in post.comments.all %}
                    <div class="  card mb-2 p-1 border-round">
                      <div class="row small border-bottom">
                        <div class="col">
                          <strong>{{ comment.name }}</strong>
                        </div>
                        <div class="col text-end">
                          {{ comment.comment_date |timesince}}

                        </div>                    
                      </div>
                      <p class="text">{{ comment.comment }}</p>
                    </div>
                  {% empty %}
                   <p> no comments for this post. </p>
                  {% endfor %}
                </artical>
                
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </section>

{% endblock body %} {% endcomment %}
