{% extends "base/base.html" %}
{% block title %}About{% endblock title %}
{% block body %}
<section class="" title="About" >
    <div class="mt-5 p-3">
        <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">About us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">We provide all the important news that you may want to know about boxing as a sport and a hobby.</p>

    

</section>
<!--Section: Contact v.2-->
    </div>
</section>
{% endblock body %}