{% extends "base/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}

<section class="mt-2">
    <div class="container mx-3"> <!-- Added mx-3 class here for horizontal margin -->
        <div class="row">
            <div class="col-md offset- mx-auto"> <!-- Added mx-auto class for centering content -->
                {% for post in  posts%}                  
                <a class="nav-link text-dark" aria-current="page" href="{% url "post_details" post.category.slug post.slug %}">
                  {% if post.image %}
                    <div class="row bg-light position-relative">
                      <div class="col-md-6 mb-md-0 p-md-1">
                        <img src="{{ post.image.url }}" class="w-75" alt="...">
                      </div>
                      <div class="col-md-6 p-4 ps-md-0">
                        <h5 class="mt-0">{{ post.title }}</h5>
                        <p>{{ post.intro }}</p>
                        <p class="text-primary">read more </p>
                        <h2 class="small text-end text-muted align-self-end">{{ post.publish_date| timesince }} ago</h2>
                      </div>
                    </div>
                  {% else %}
                  <div class="row g-0 bg-light position-relative">
                    
                    <div class="col-md-12 p-4 ps-md-0">
                      <h5 class="mt-0">{{ post.title }}</h5>
                      <p>{{ post.intro }}</p>
                      <h2 class="small text-end text-muted">{{ post.publish_date| timesince }} ago</h2>

                      
                    </div>
                  </div>
                    
                  {% endif%}
                  
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock body %}

